# Build Folders
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio working files
.vscode/
.vs/
*.VC.db
*.VC.VC.opendb

# Package management
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.cache
*.pdb

# Publish output
publish/

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/
*.sln.iml

# Other
*.dbmdl
*.jfm